<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="defaultBinding" openTimeout="00:05:00" sendTimeout="00:05:00" />
        <binding name="sslBinding" openTimeout="00:05:00" sendTimeout="00:05:00">
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="TestWCF.MyService">
        <endpoint address="http://provcon-faust/TestWCF/MyService.svc/rest/"
          behaviorConfiguration="defaultBehavior" binding="webHttpBinding"
          bindingConfiguration="defaultBinding" name="defaultEndpoint"
          contract="TestWCF.IMyService">
          <identity>
            <dns value="provcon-faust" />
          </identity>
        </endpoint>
        <endpoint address="https://provcon-faust/TestWCF/MyService.svc/rest/"
          behaviorConfiguration="defaultBehavior" binding="webHttpBinding"
          bindingConfiguration="sslBinding" name="sslEndpoint" contract="TestWCF.IMyService">
          <identity>
            <dns value="provcon-faust" />
          </identity>
        </endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="defaultBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
