<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="defaultEndpoint" />
                <binding name="sslEndpoint">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://provcon-faust/TestWCF/MyService.svc"
                binding="basicHttpBinding" bindingConfiguration="defaultEndpoint"
                contract="ServiceReference.IMyService" name="defaultEndpoint" />
            <endpoint address="https://provcon-faust/TestWCF/MyService.svc"
                binding="basicHttpBinding" bindingConfiguration="sslEndpoint"
                contract="ServiceReference.IMyService" name="sslEndpoint" />
        </client>
    </system.serviceModel>
</configuration>
