<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="defaultEndpoint" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="mexEndpoint">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://provcon-faust/TestWCF/" binding="basicHttpBinding"
                bindingConfiguration="defaultEndpoint" contract="ServiceReference.IMyService"
                name="defaultEndpoint" />
            <endpoint address="http://provcon-faust/TestWCF/mex" binding="wsHttpBinding"
                bindingConfiguration="mexEndpoint" contract="ServiceReference.IMyService"
                name="mexEndpoint" />
        </client>
    </system.serviceModel>
</configuration>