<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://provcon-faust/TestWCF/Service/MyService.svc"
        binding="basicHttpBinding" bindingConfiguration="defaultEndpoint"
        contract="Service.IMyService" name="defaultEndpoint" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="defaultEndpoint" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
