<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="MyBehavior">
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="MyBinding" />
            </basicHttpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="MyBehavior" name="TestWCF.MyService">
                <endpoint address="MyService.svc" binding="basicHttpBinding"
                    bindingConfiguration="MyBinding" contract="TestWCF.IMyService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/TestWCF" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>